<div class="transparent menu horizontal-menu text-left">
    <a class="menu-toggle" data-m-action="active_toggle" data-m-context=".horizontal-menu"></a>
    <a class="drop-down" href="#">Link 1<i class="arrow" data-m-action="active_menu_item"></i></a>
<span class="sub-menu">
<a class="" href="#">Sub-link 1<i class="arrow" data-m-action="active_menu_item"></i></a>
<a class="" href="#">Sub-link 2<i class="arrow" data-m-action="active_menu_item"></i></a>
<a class="" href="#">Sub-link 3<i class="arrow" data-m-action="active_menu_item"></i></a>
</span>
    <a class="active" href="#">Link 2<i class="arrow" data-m-action="active_menu_item"></i></a>
    <a class="drop-down" href="#">Link 3<i class="arrow" data-m-action="active_menu_item"></i></a>
<span class="sub-menu">
<a class="" href="#">Sub-link 1<i class="arrow" data-m-action="active_menu_item"></i></a>
<a class="" href="#">Sub-link 2<i class="arrow" data-m-action="active_menu_item"></i></a>
</span>
    <form class="search-link" action="/search" method="post">
        <input name="query" placeholder="Press enter to search" type="text">
        <i class="arrow fa fa-search" data-m-action="active_toggle" data-m-context=".search-link"></i>
    </form>
</div>