<div class="additional-links">
    <a href="~language_prefix~/~pagename~/menu/add/~module_name~" title="*Add new menu link*"><i class="fa fa-plus"></i></a>
</div>
<table cellpadding="0" cellspacing="0" class="admin-overview">
<thead>
    <tr>
        <th width="10%"></th>
        <th width="30%" class="text-left">*Path*</th>
        <th width="20%" class="text-left">*Name in menu*</th>
        <th width="20%" class="text-left">*Target*</th>
        <th width="20%" class="text-left"></th>
    </tr>
</thead>
<tbody data-m-action="drag_sort" data-m-model="modules\menu\models\menu">
    ~items~
</tbody>
</table>